.GridContainer {
  width: 100%;
  padding: 10px 100px;
}
@media (max-width: 768px) {
  .group {
    display: none;
  }

  .gridinner {
    justify-content: space-between;
  }
}
.gridinner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff6600;;
  text-decoration: none;
}

.textlink {
  text-decoration: none;
  color: #ff6600;
}

.group {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition:
    color 0.3s,
    transform 0.2s;
  position: relative;
}

.link:hover {
  color: #ff6600;
  transform: translateY(-2px);
}

.link::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: rgb(187, 62, 0);
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.link:hover::after {
  width: 100%;
}

.search {
  width: 50%;
}

.dropdownItem {
  display: block;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
}

.active {
  color: #ff6b6b;
  font-weight: 600;
  border-bottom: 2px solid #ff6b6b;
}
.cate {
  width: 10%;
}

.searchicon{
  color: #ff6600;
  border: 1px solid black;
}