.GridContainer{
    width: 100%;
    padding: 15px 0px;
    margin: 0px;
}
.gridinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.group {
  display: flex;
  gap: 2rem; 
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s, transform 0.2s;
  position: relative;
}

.link:hover {
  color: #ff6600; 
  transform: translateY(-2px);
}

.link::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: rgb(187, 62, 0);
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.link:hover::after {
  width: 100%;
}
